{% extends 'base.html.twig' %}

{% block title %}Hello PokemonController!{% endblock %}

{% block body %}
    <table>
        <thead>
            <tr>
                <th>Image</th>
                <th>Nom</th>
                <th>Type</th>
                <th>Description</th>
                <th>Prix</th>
                <th>Détails</th>
                <th>Editer</th>
                <th>Supprimer</th>
            </tr>
        </thead>
        <tbody>
            {% for pokemon in pokemons %}
                <tr>
                    <td><img src="{{ pokemon.Image }}"/></td>
                    <td>{{ pokemon.Name }}</td>
                    <td>{{ pokemon.Type }}</td>
                    <td>{{ pokemon.Description }}</td>
                    <td>{{ pokemon.Price }} €</td>
                    <td><button><a href={{ path('pokemon_show', {'id': pokemon.id}) }}>Détails</a></button></td>
                    <td><button><a href={{ path('pokemon_update', {'id': pokemon.id}) }}>Editer</a></button></td>
                    <td><button><a href={{ path('pokemon_delete', {'id': pokemon.id}) }}>Supprimer</a></button></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <button><a href={{ path('pokemon_create') }}>Créer un Pokémon</a></button>
{% endblock %}
